.navbar-brand {
  padding-top: 0;
  text-align: left;
  font-size: 5vw;
  margin-bottom: 20px;
}


#head{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3vw;
}

#back{
  background-color: antiquewhite;
}
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #1c9536;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

